# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    doft.css                                           :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: vraia <marvin@42.fr>                       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2019/01/01 17:19:40 by vraia             #+#    #+#              #
#    Updated: 2019/01/02 23:37:48 by vraia            ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

* {
	box-sizing: border-box;
}

body{
	background-color: #505050;
}

img{
	max-width: 100%;
}

div.top{
	background-color: #909090;
	border-radius: 10px;
	position: relative;
	box-shadow: 10px 10px 10px black;
	height: 150px;
	max-width: 1800px;
	margin: auto;
	margin-top: 20;
}

.container{
	position: relative;
	max-width: 1720px;
	margin: 0 auto;
}

div.left{
	background-color: #909090;
	border-radius: 10px;
	position: relative;
	box-shadow: 10px 10px 10px black;
	min-height: 550px;
	width: 10%;
	float: left;
	margin-top: 30px;
	padding-top: 10px;
}

div.middle{
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	position: relative;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 30px;
	padding: 10px;
	width: 74%;
}

div.right{
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	float: left;
	margin-top: 30px;
	padding 10px;
	width: 10%;
	min-height: 550px;
	position: relative;
}

.wall{
	padding: 10px;
}

.words{
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	position: relative;
	margin-top: 700px;
	margin-left: 50px;
	margin-right: 65%;
	height: 200px;
	background-color: #88ff89;
	text-align: left;
}

p{
	position: relative;
}

.words-bottom{
}

.word-middle{
	font-size: 30px;
	font-weight: bold;
}

.words-top{
	position: relative;
	overflow: auto;
}

img.right{
	width: 80px;
	display: block;
	margin: 10px auto;
}

img.left{
	width: 55%;
	margin-top: 10px;
	margin-left: 40px;
}

img[title="brick"]{
	width: 33.3%;
	float: left;
	margin: 0;
	padding: 0;
}

img.cluster{
	width: 100%;
}

img.dayof42{
	width: 545px;
	padding-left: 10px;
}

img.lupa{
	position: absolute;
	width: 300px;
	right: 40px;
	bottom: -25px;
	display: block;
}

img.reload{
	position: absolute;
	width: 20px;
	top: 10px;
	right: 10px;
}

img.close{
	position: absolute;
	width: 20px;
	right: 10px;
	bottom: 10px;
}
