* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	background-color: #505050;
}

div.top{
    background-color: #909090;
    border-radius: 10px;
    position:  relative;
    box-shadow: 10px 10px 10px black;
    height: 150px;
    max-width:  1800px;
    margin: auto;
    margin-top: 25;
}

.container {
	position: relative;
	max-width:  1720px;
	margin: 0 auto;
}

div.left {
	background-color: #909090;
	border-radius: 10px;
	position: relative;
	box-shadow: 10px 10px 10px black;
	min-height: 550px;
	float: left;
	width: 10%;
	padding: 15px 0;
	margin-top: 30px;
	box-sizing: border-box;
}

div.middle {
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	position: relative;
	width: 76%;
	margin-left: 2%;
	float: left;
	padding: 10px;
	margin-top: 30px;
	box-sizing: border-box;
}

div.right {
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	width: 10%;
	min-height: 550px;
	padding: 10px;
	float: left;
	margin-top: 30px;
	margin-left: 2%;
	position: relative;
	box-sizing: border-box;
}

img.right{
	width: 80px;
	display: block;
	margin: 10px auto;
}

img[title="brick"] {
	padding: 0;
    margin: 0;
    float: left;
    width: 33.3%;
}

img.cluster{
	box-sizing: border-box;
	width: 100%;
}

img.dayof42{
	width: 545px;
	padding-left: 10px;
}

img.lupa{
	position: absolute;
	right: 40px;
	bottom: -25px;
	display: block;
}

img.reload{
	position: absolute;
	width: 20px;
	top: 10px;
	right: 10px;
}

img.close{
	position: absolute;
	width: 20px;
	right: 10px;
	bottom: 20px;
}

img.left{
	width: auto;
	height: 85px;
	display: block;
	margin: 17px auto;
}
