# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    doft.css                                           :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: vraia <marvin@42.fr>                       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2019/01/01 17:19:40 by vraia             #+#    #+#              #
#    Updated: 2019/01/02 15:44:28 by vraia            ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

body{
	background-color: #606060;
}

div.top{
	background-color: #909090;
	border-radius: 10px;
	position: relative;
	box-shadow: 10px 10px 10px black;
	height: 150px;
	width: 1600;
	margin: auto;
	margin-top: 20;
}

div.left{
	background-color: #909090;
	border-radius: 10px;
	position: relative;
	box-shadow: 10px 10px 10px black;
	height: 500px;
	width: 160;
	margin-right: 400px;
	margin-top: 30px;
}

div.middle{
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	position: relative;


	margin-left: 200px;
	margin-top: -500px;
	width: 1045;
}

div.right{
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	margin-left: 1285px;
	margin-top: -596px;
	width: 160;
	height: 500px;
	position: relative;

}

img.right{
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 100px;
}

img.cluster{
	padding-left: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

img.dayof42{
	width: 545px;
	padding-left: 10px;
}

img.lupa{
	position: absolute;
	right: 40px;
	bottom: -25px;
	display: block;
}

img.reload{
	position: absolute;
	width: 20px;
	top: 10px;
	right: 10px;
}

img.close{
	position: absolute;
	width: 20px;
	right: 20px;
	bottom: 20px;
}

img.left{
	margin-left: 40px;
	width: 80px;
	margin-top: 15px;
}
